.header{ 
  background: yellow;
  color: black;
  flex: 0 0 200px;
  padding: 20px;
  height: 100vh;
  border-right: 2px solid #333;
  border-bottom: none;

  nav{
    ul {
      list-style: none;
      li{
        a{
          text-decoration: none;
          background: blue;
          color: white;
          display: block;
          margin: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
